/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #14213d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.career-salary-table{
 background-color: white;
 border-radius: 10px;   
 padding: 15px 25px;
 width: 100%;
 max-width: 960px;
 display: flex;
 flex-direction: column;
 text-align: center;
 text-transform: uppercase;
}

.career-plan{
    border-bottom: 1px solid #e5e5e5;
}

.career-plan:last-child{
    border-bottom: none;
}

.career-img{
    margin-bottom: 25px;
    max-width: 100%;
}

.career-header{
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

.career-features{
    margin: 50px 0 25px;
    color: #14213d;
}

.career-feature-item{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e5e5e5;
}

.career-feature-item:last-child{
    border-bottom: 1px solid #e5e5e5;
}

.career-price{
    color: #14213d;
    display: block;
    font-size: 32px;
    font-weight: 700;

}

.career-button{
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    color: #fca311;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    letter-spacing: 1px;
    font-weight: 400;
    transition: background-color 200ms ease-in-out;
}

.career-button:hover,.career-button:focus{
    background-color: #fde4cf;
}

.career-button.is-featured{
    background-color: #fca311;
    color: white;
}

.career-button.is-featured:hover, .career-button.is-featured:focus{
    background-color: #f77f00;
}

@media(min-width:900px){
    .career-salary-table{
        flex-direction: row;
    }

    .career-plan{
        border-bottom: none;
        border-right: 1px solid #e5e5e5;
        padding: 25px 50px;
    }

    .career-plan:last-child{
        border-right: none;
    }
}